*{
    margin: 0;
    padding: 0;
}

.container{
    background-color:rgb(36, 55, 55);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    height: 80px;
    width: 100%;
    position: relative;
}

#kabirCakesLogo img{
    height: 100px;
    width: 100px;
    margin: 5px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 80px;
}

.navbar ul{
    display: flex;
    margin-right:40px ;
}

.navbar ul li{
    list-style: none;
    font-size: 1.4rem;
}

.navbar ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding: 3px 20px;
    border-radius: 20px;
}

.navbar ul li a:hover{
    color: black;
    background-color: aliceblue;
}

